/* ChatPageStyles.css */
.messageArea {
  display: flex;
  flex-direction: column;
  height: 74vh;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
}
.sent {
  align-self: flex-end;
  background-color: #7193a7; /* Light green background for sent messages */
}

.received {
  align-self: flex-start;
  background-color: #afb2b4; /* Light grey background for received messages */
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputContainer input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.inputContainer button {
  background-color: #222529;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.inputContainer button:hover {
  background-color: #222529;
}
