
.notifications {
    
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    max-height: 200px; 
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
  }
  
  .notification {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #bfdef5;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  