
body{
  background: var(--color-gradient);
  margin: 0;
  padding: 0;
  /*background-repeat: no-repeat;
  background-size: cover;*/
}
*{
  font-family: var(--fonts-primary);
}
.App{
  padding: 0px;
  margin: 0px;
  
  overflow-y: scroll;
}